.navbar{
     background-color: #043f6e; 
     margin: 0;  
} 

#item{
    position: relative;
    display: block;
    
    margin-left: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;   
}

  #item:hover {
    color: #95a5a6;
  }
  #item:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  } 