@import url('https://fonts.googleapis.com/css2?family=Laila:wght@600&display=swap');

.body{
  margin: 0;
}



.navbar{
  background-color: #ffffff; 
  margin: 0;  
  clear: left;
  margin-top: 0; 
  border: 1px solid#076cbe ;
} 

#item{
 position: relative;
 display: block;
 
 margin-left: 20px;
 color: #076cbe;
 text-decoration: none;  
 margin-top: 0; 
 font-weight: 500;
}

#item:hover {
 color: #002a4d;
}
#item:hover::after {
 transform: scaleX(1);
 transform-origin: left;

} 
.heading{
 background-color: #00457e;
 padding: 1rem;
 padding-bottom: 1.5rem;
 margin: 0;
 margin-bottom: 0;

}
.logo{ 
 margin : 0 2% 0 5%;
 width: 8rem;
 float: left;
 position: relative;
 
 
}
h2{
  color: aliceblue;
  font-family: 'Laila', sans-serif;
}
.container{
padding: 5px 3px 0 0;

margin-top: 1rem;
}
.signin-button{
  margin: 5% auto!important;
  width: 70%!important;
  

}
.signout-button{
  margin: 10% auto;
}

#signinbox{
  /* border: 1px solid rgb(60, 65, 87); */
  width: 35%;
  margin: 5% auto;
  place-items: center;
  padding: 4% 0; 
  box-shadow: #8dbee9 0px 5px 10px 0px;
}

#signinemail{
display: block;
margin: 5% auto;
width: 70%;

}
#signinpass{
display: block;
margin: 5% auto;
width: 70%;

}
#signtitle{
  display: block;
  margin: 1% auto;
  text-align: center;
 

}
.orcont{
  margin: 3% auto 0;
  text-align: center;
}




#signupbox{
  width: 35%;
  margin: 5% auto;
  place-items: center;
  padding: 1% 0; 
  box-shadow: #8dbee9 0px 5px 15px 0px;
}
.pass{
display: block;
margin: 5% auto;
width: 70%;
}
#signbutton{
  text-align: center;
  display: block;
  margin: 2% auto;
  width: 70%;
  height: 4%!important;
  padding: 2%!important;
  border-color: transparent!important;
  color: #00457e!important;
  box-shadow: 0px 0px 15px 0px#cac7c7c2!important; 
}
#signbutton:hover{
  color: #ffffff!important;
  background-color: #00457e;
}
input{
  background-color: transparent;
    border-radius: 0;
    border: 1px solid rgb(68, 60, 60);
    height: 2.1rem;
    width: 100%;
    margin: 0 0 3px 0;
    padding: 1% 1%;
    box-sizing: content-box;
    font-family: "IBM Plex Sans";
}
#createaccount{
  position: relative;
  color: #000000;
  text-decoration: none!important;
}
#loginbox{
  width: 35%;
  margin: 5% auto;
  place-items: center;
  padding: 1% 0; 
  box-shadow: #8dbee9 0px 5px 15px 0px;
}
#logtitle{
  display: block;
  margin: 1% auto;
  text-align: center;
 }